:root {
    --gray: #868686;
    --too-light-grey: #7a7a7a;
    --gray-light: #f3f3f3;
    --pale-grey: #f0f3f5;
    --disabled-grey: #f1ecec;
    --bray: #424b5a;
    --bray-dark: #2f3949;
    --bray-medium: #505d68;
    --bray-light: #e8e8e8;
    --whitish: #e4e8f0;
    --lightgreen: #90ee90;
    --ligthtorange: #abd260;
    --quamarine: #66cdaa;
    --red-light: #ff8594;
    --red-medium: #d75867;
    --orange: #d86422;
    --red: #d0021b;
    --orangish-red: #f55549;
    --yellow-light: #fffcaa;
    --yellow-medium: #dfdb6e;
    --yellow: #fff700;
    --green-surya: #3e883e;
    --green-light: #77e4aa;
    --green-medium: #46bf7f;
    --green: #00853f;
    --primary: #4e9c5a;
    --primary-dark: #ff961e;
    --very-light-blue: #eaeeff;
    --light-black: #333333;
    --white: #fff;
    --black: #000;
    --footer-black: #20313b;
    --medium-blue: #d9ecf3;
    --border-blue: #99d1e9;
    --list-color: #f3f7f9;
    --img-border: #c2d1d9;
    --light-blue: #edf7fc;
    --too-light-blue: #008dc9d9;
    --dark-blue: #018dcb;
    --border-light-gray: #d2d2d2;
    --medium-green: #47bb7f;
    --medium-grey: #d9d9d9;
    --spice-blue: #323e4d;
    --border-radius: 5px;
    --border-radius-light: 3px;
    --from: 0;
    --to: 10;
    --border-from: 0;
    --border-to: 2;
    --large-px: 16px;
    --medium-px: 18px;
    --small-px: 15px;
    --large-em: 20;
    --medium-em: 18;
    --small-em: 16;
}
